.ui-dialog-titlebar{
    font-size: 13px;
    font-family: sans-serif;
	}
        .ui-datatable-odd {
    background: #FFFFFF;
}
.ui-datatable-even {
    background: #D5F8FE;
}

.negrita{
 font-weight: bold;
}
.ui-datatable tr.ui-datatable-even:hover, .ui-datatable tr.ui-datatable-odd:hover {
    background:#B8E9F7;
    }
#titulo{
 font-family:Georgia,"Times New Roman",Times,serif;
    font-weight:normal;
    text-shadow:0 0 1px #000;
    color:#444444;
    font-size:2em;
    padding:2px 0 0;
    text-transform:capitalize;
    line-height:1.2em;
    margin:0 0 10px;
}