<?xml version='1.0' encoding='windows-1252'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
      <property name="connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="connection.url">jdbc:oracle:thin:@//192.168.2.25:1521/orcl</property>
        <property name="connection.username">SINV</property>
        <property name="connection.password">SINV</property>
          <!--<property name="connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="connection.url">jdbc:oracle:thin:@//localhost:1521/XE</property>
        <property name="connection.username">ositran</property>
        <property name="connection.password">ositran</property>-->
        <property name="connection.pool_size">5</property>
        <property name="dialect">org.hibernate.dialect.Oracle10gDialect</property>
        <property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>
        <property name="show_sql">true</property>
        <property name="hibernate.jdbc.use_get_generated_keys">true</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <mapping class="com.ositran.model.Cargo"/>
        <mapping class="com.ositran.model.ConceptoInversion"/>
        <mapping class="com.ositran.model.Concesion"/>
        <mapping class="com.ositran.model.Concesionario"/>
        <mapping class="com.ositran.model.EmpresaSupervisora"/>
        <mapping class="com.ositran.model.Infraestructura"/>
        <mapping class="com.ositran.model.InfraestructuraTipo"/>
        <mapping class="com.ositran.model.Igv"/>
        <mapping class="com.ositran.model.InversionTipo"/>
        <mapping class="com.ositran.model.InversionTipoDescripcion"/>
        <mapping class="com.ositran.model.Rol"/>
        <mapping class="com.ositran.model.Usuario"/>
        <mapping class="com.ositran.model.Men"/>
        <mapping class="com.ositran.model.RolOpciones"/>
        <mapping class="com.ositran.model.TipoDocumento"/>
        <mapping class="com.ositran.model.ModalidadConcesion"/>
        <mapping class="com.ositran.model.Contrato"/>
        <mapping class="com.ositran.model.ViewTdInternos"/>
        <mapping class="com.ositran.model.SupervisorInversiones"/>
        <mapping class="com.ositran.model.ContratoSupInversiones"/>
        <mapping class="com.ositran.model.JefeAreaContratoConcecion"/>
        <mapping class="com.ositran.model.ContratoJefeArea"/>
        <mapping class="com.ositran.model.AvanceInversionWeb"/>
        <mapping class="com.ositran.model.Inversion"/>  
         <mapping class="com.ositran.model.ContratoCompromiso"/> 
         <mapping class="com.ositran.model.AdendaTipo"/> 
         <mapping class="com.ositran.model.ContratoAdenda"/> 
         <mapping class="com.ositran.model.ContratoEntrega"/> 
         <mapping class="com.ositran.model.ContratoCompromiso"/> 
         <mapping class="com.ositran.model.Moneda"/>          
         
    </session-factory>
</hibernate-configuration>