.estandar-mayus-minus {
    text-transform:uppercase;
}

.ui-dialog-titlebar {
    font-size: 13px;
    font-family: sans-serif;
}

.ui-selectonemenu{
     font-family: Verdana, Arial, sans-serif;
     font-size: 9px !important;

}
.ui-selectonemenu-list{
     font-family: Verdana, Arial, sans-serif;
     font-size: 9px !important;
}
div.ui-datepicker{
font-size:10px!important;
} 


.tool {
    font-size: 13px;
    background-image: none;
    background-color: #fffb81;
    font-style: italic;
}

.negrita {
    font-weight: bold;
}

.ui-datatable tr.ui-datatable-even:hover, .ui-datatable tr.ui-datatable-odd:hover {
    background: #C9DCF1;
}

.titulo5{
padding-top: 10px;
padding-bottom: 6px;
color: Black;
font-weight: bold;
font-family:Arial;
text-align: center  !important;
font-size:14px  !important;
text-transform: uppercase;
} 

.botones {
    width: 70px;
}

.letra11 {
    font-size: 11px;
}

.letraT {
    font-size: 10px;
}

.controles {
    width: 21px;
    height: 21px;
    text-align: center;
}

.piePagina {
    text-align: center;
    font-size: 10px;
    font-weight: bold;
}

.ui-datatable-even {
    height: 10px;
}

.ui-datatable-odd {
    background: none repeat scroll 0 0 #F2F5F9;
    height: 5px;
}

.ui-datatable .ui-paginator {
    background-image: none;
    background: White;
    border: none;
    color: Black;
    font-weight: bold;
}
.activo{
    background-image: none;
    background: #ffff94  !important;
   
}


.ui-datatable .ui-datatable-data tr {
    height: 20px;
}

.fielsetinterno .ui-fieldset-legend {
    text-transform: uppercase;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    background: transparent;
    color: black;
    color: #333333;
    font-size: 11px;
}






.calendario input {
    vertical-align: middle;
    margin-right: 1px;
    width: 66px;
}


.calendario1 input {
   vertical-align: middle;
   margin-right: 1px;
   width: 80px;
}

#desabilitado{
  background-color: #848484;


}

#habilitado {
}


/*ESTILOS CONTRATO-ADENDA*/
.pnlEdicion tr {
    font-size: 11px;
    border: none !important;
    font-weight: bold;
    margin: 3px !important;
}

.pnlEdicion td {
    border: none !important;
    margin: 5px !important;
}

.etiquetas {
    text-align: left !important;
    width: 50px !important;
}

.cajas {
    float: left !important;
    width: 250px !important;
    margin: 10px !important;
}

.validadores {
    float: left !important;
    width: 10px !important;
    margin: 10px !important;
}

.nomarchivo {
    float: left !important;
}
/*FIN ESTILOS CONTRATO-ADENDA*/

.dlgContent .tabla-wrap {
    white-space: normal;
    width:40px;
}
.dlgContent .tabla-wrap-boton {
    white-space: normal;
    width: 50px;
    padding: 2px;
}
.dlgContent .tabla-wrap-desc {
    white-space: normal;
    width: 100px;
    padding: 0px;
}
.fieldContainer .tabla-wrap-desc {
    white-space: normal;
    width: 100px;
    padding: 0px;
}
.fieldContainer .tabla-wrap-montos{
    white-space: normal;
    width: 80px;
}
.fieldContainer .tabla-wrap-codigo{
    white-space: normal;
    width: 30px;
}
.fieldContainer .tabla-wrap-boton{
    white-space: normal;
    width: 40px;
}
.fieldContainer .tabla-wrap-moneda{
    white-space: normal;
    width: 70px;
}
.fieldContainer .tabla-wrap-fecha{
    white-space: normal;
    width: 70px;
}
.fieldContainer .tabla-wrap-estado{
    white-space: normal;
    width: 70px;
}



.ui-dialog-titlebar{
    font-size: 13px;
    font-family: sans-serif;
    
	}
.tool{
        font-size: 13px;
        background-image: none;
        background-color:#fffb81;
        font-style: italic;
}
.negrita{
 font-weight: bold;
}

.activo{
    background-image: none;
    background: #ffff94  !important;
   
}

    
  

.botones{
width: 70px;
}

.letra11{
font-size: 11px;
}

.letraT{
font-size:10px;
}

.controles{
width: 21px;
height: 21px;
text-align: center;
}

.piePagina{
text-align: center;
font-size: 10px;
font-weight: bold;
}





.ui-datatable .ui-paginator {
   background-image: none;
   background: White;
   border: none;
   color: Black;
   font-weight: bold;
  
    
}
.ui-datatable .ui-datatable-data tr{
    height :20px;
   
}

 .fielsetinterno .ui-fieldset-legend {
                                text-transform: uppercase;
				border-top:none;
				border-left:none;
				border-right:none;
				border-bottom:none;
				background:transparent;
				color: black;
				color: #333333; 
				font-size: 11px;
	}
        



.calendario input {
   vertical-align: middle;
   margin-right: 1px;
   width: 60px;
       
}

#desabilitado{
  background-color: #848484;
}

#habilitado {
}

.ui-menubar .ui-menu-child .ui-menuitem {
    font-size: 9px;

}
.ui-menubar .ui-menu-child {
    width: 300px !important;
}